.jumbotron {
    height: 12rem;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(10, 82, 117, 1) 0%, rgba(0, 212, 255, 1) 100%, rgba(255, 255, 255, 1) 100%);
}

.myaddwork {
    padding-right: 2rem;
}

.nav-item a {
    color: black;
}