{% extends 'base.html' %} <br />

{% block title %} Login Student {% endblock %} <br />

{% block content %}
<style>
  .btnteacher {
    background: white;
    padding: 7px;
    padding-right: 5rem;
    padding-left: 5rem;
    border: 1px solid black;
    color: black;
  }
  .btnstudent {
    background: white;
    padding: 7px;
    padding-right: 5rem;
    padding-left: 5rem;
    border: 1px solid black;
    color: black;
  }
  .active {
    background: tomato;
    color: white;
  }
</style>
<div class="container logincontainer">
  {% if messages %}
  <ul class="messages list-unstyled ps-4 p-3 text-center bg-success">
    {% for message in messages %}
    <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  <div class="jumbotron loginjum">
    <form action="" method="post" novalidate>
      {% csrf_token %}

      <div>
        <a href="{% url 'login' %}" class="btnteacher">Teacher</a>
        <a href="{% url 'loginstudent' %}" class="btnstudent {{myhover}}"
          >Student</a
        >
      </div>
      <br />
      <br />
      <div>
        <label>Id No:</label>
        <input
          type="text"
          placeholder="Id No"
          class="form-control"
          name="id_no"
        />
      </div>
      <br /><br />
      <div>
        <label>Password:</label>
        <input
          type="text"
          placeholder="Password"
          class="form-control"
          name="password"
        />
      </div>
      <br /><br />
      <button type="submit" class="btn btn-outline-danger text-white">
        Login
      </button>

      <small><a href="{% url 'password_reset' %}">Forgot Password ?</a></small>
    </form>
  </div>
</div>

{% endblock %}
