{% extends 'base.html' %} <br />

{% block title %} Signup {% endblock %}<br />
{% block content %}

<style>
  .btnteacher {
    background: white;
    padding: 7px;
    padding-right: 5rem;
    padding-left: 5rem;
    border: 1px solid black;
    color: black;
  }
  .btnstudent {
    background: white;
    padding: 7px;
    padding-right: 5rem;
    padding-left: 5rem;
    border: 1px solid black;
    color: black;
  }
  .active {
    background: tomato;
    color: white;
  }
  .logdiv {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
</style>

<div class="container signupcontainer">
  {% if messages %}
  <ul class="messages list-unstyled ps-4 p-3 text-center bg-warning">
    {% for message in messages %}
    <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  <div class="logdiv">
    <a href="{% url 'signup' %}" class="btnteacher">Teacher</a>
    <a href="{% url 'student_registration' %}" class="btnstudent {{myhover}}"
      >Student</a
    >
  </div>
  <div class="jumbotron loginjum">
    <form action="" method="post" novalidate>
      {% csrf_token %} {% for fm in form %} {{fm.label_tag}} {{fm}}
      {{fm.errors|striptags}} <br />
      <br />

      {% endfor %}

      <button type="submit" class="btn btn-outline-danger text-white">
        Register
      </button>
    </form>
  </div>
</div>

{% endblock %}
